<template>
  <base-frame :selectable="false">
    <!-- custom buttons -->
    <template #navbar-context>
      <dropdown :items="textTypes" @onChange="onTypeChange" :title='textType' :titleHover="$t('blockText.action.typeChange')">
      </dropdown>

      <button type="button" class="redact-btn" @click="changeFontWeight()" :title="$t('blockText.format.bold')">
        <i class="material-icons md-18">format_bold</i>
      </button>

      <button type="button" class="redact-btn" @click="changeFontStyle()" :title="$t('blockText.format.italic')">
        <i class="material-icons md-18">format_italic</i>
      </button>

      <button type="button" class="redact-btn" @click="changeFontDecoration()" :title="$t('blockText.format.underline')">
        <i class="material-icons md-18">format_underlined</i>
      </button>
    </template>

    <component :is="textType" contenteditable="true" ref="text" v-html="data" @keydown="onKeyDown" @paste="onPaste" tabindex="-1" class="text-block">
      <!-- content -->
    </component>
  </base-frame>
</template>

<script>
import debounce from 'lodash.debounce'
import BlockBase, { DIRECTION_NEXT, DIRECTION_FORWARD } from '../RedactBlock/RedactBlock'
import BaseFrame from '../RedactBlock/RedactBlockFrame'
import TextCursor from '../../mixins/TextCursor'
import Dropdown from '../RedactCommon/Dropdown'

export default {
  name: 'RedactBlockText',
  extends: BlockBase,
  mixins: [TextCursor],

  props: {
    data: {
      type: String,
      default: ''
    },
    textType: {
      type: String,
      default: 'p'
    }
  },

  components: {
    BaseFrame,
    Dropdown
  },

  data: () => ({
    textTypes: ['p', 'h1', 'h2', 'h3', 'h4']
  }),

  methods: {
    /* === Events === */

    onActive () {
      this.$refs.text.focus()

      switch (this.direction) {
        case DIRECTION_NEXT:
          this.setCursorAtStart()
          break

        case DIRECTION_FORWARD:
          this.setCursorAtEnd()
          break

        default:
          this.restoreCursor()
          break
      }
    },

    onKeyDown (e) {
      /* enter pressed */
      if (e.keyCode === 13 && !e.shiftKey) {
        e.preventDefault()
        this.splitBlock()
        return
      }

      /* delete pressed in empty block */
      if (e.keyCode === 46 && this.cleanText(this.getData()).length === 0) {
        e.preventDefault()
        this.blockRemove()
        return
      }

      /* delete pressed at end of block */
      if (e.keyCode === 46 && this.isCursorAtEnd()) {
        e.preventDefault()
        this.blockMergeThisWithNext()
        return
      }

      /* cursor at start && pressed left or up arrow */
      if (this.isCursorAtStart() && (e.keyCode === 37 || e.keyCode === 38)) {
        e.preventDefault()
        this.blockActivePrev()
        return
      }

      /* cursor at start && pressed backspace */
      if (this.isCursorAtStart() && (e.keyCode === 8)) {
        e.preventDefault()
        this.blockMergePrevWithThis()
        return
      }

      /* cursor at end && pressed right or bottom arrow */
      if (this.isCursorAtEnd() && (e.keyCode === 39 || e.keyCode === 40)) {
        e.preventDefault()
        this.blockActiveNext()
        return
      }

      /* commit changes */
      this.change(e)
    },

    onPaste (e) {
      e.preventDefault()

      const textArea = document.createElement('textarea')
      textArea.innerHTML = (e.originalEvent || e).clipboardData.getData('text/plain')

      document.execCommand('insertHTML', false, textArea.value)
      this.commitState(this.$t('blockText.action.paste'))
    },

    onTypeChange (textType) {
      this.saveCursor()
      this.blockUpdate({ data: this.getData(), textType })
      this.commitState(this.$t('blockText.action.typeChange') + ` [${this.textType} => ${textType}]`)
    },

    onMerge (block) {
      if (block.$attrs.type === this.$attrs.type) {
        this.setCursorAtEnd()
        this.saveCursor()
        this.blockUpdate({ data: this.getData() + block.getData() })
        return true
      }
    },

    onSave () {
      return {
        data: this.cleanText(this.data),
        textType: this.textType
      }
    },

    /* === Methods === */

    blockUpdateWithCursor (title) {
      this.saveCursor()
      this.blockUpdate({data: this.getData()})
      this.commitState(title)
    },

    change: debounce(function (e) {
      if (this.cleanText(this.getData()) !== this.cleanText(this.data)) {
        this.blockUpdateWithCursor(this.$t('blockText.action.change'))
      }
    }, 600),

    changeFontWeight () {
      document.execCommand('bold', false, null)

      this.blockUpdateWithCursor(this.$t('blockText.format.bold'))
    },

    changeFontStyle () {
      document.execCommand('italic', false, null)

      this.blockUpdateWithCursor(this.$t('blockText.format.italic'))
    },

    changeFontDecoration () {
      document.execCommand('underline', false, null)

      this.blockUpdateWithCursor(this.$t('blockText.format.underline'))
    },

    getData () {
      return this.$refs.text ? this.$refs.text.innerHTML : ''
    },

    splitBlock () {
      this.saveCursor()

      document.execCommand('insertHTML', false, '<p cursor-split></br></p>')
      const separator = this.$refs.text.querySelector('p[cursor-split]')
      const [oldText, newText] = this.getData().split(separator.outerHTML)
      separator.remove()

      this.blockUpdate({data: this.cleanText(oldText)})
      this.blockInsert({data: newText, textType: this.textType})
      this.blockActiveNext()
      this.commitState(this.$t('block.action.split'))
    }
  },

  mounted () {
    this.setTextCursor(this.$refs.text)
  },

  updated () {
    this.setTextCursor(this.$refs.text)

    /* try restore cursor if saved */
    this.active && this.restoreCursor()
  }
}
</script>

<style scoped>
  .text-block { min-height: 1em }
</style>
