<template>
  <div></div>
</template>

<script>
import clonedeep from 'lodash.clonedeep'

export const DIRECTION_NEXT = 'DIRECTION_NEXT'
export const DIRECTION_FORWARD = 'DIRECTION_FORWARD'

export default {
  name: 'RedactBlock',

  props: {
    active: {
      default: false
    },
    direction: {
      default: null
    }
  },

  inject: ['redact', '$t', '$undoManager'],

  provide () {
    return { redactBlock: this }
  },

  computed: {
    $local () {
      return clonedeep(this.blockProps)
    },
    $global () {
      return this.redact.blocks[this.index]
    },
    blockProps () {
      const { active, direction, ...props } = this.$props
      return props
    },
    index () {
      return this.$vnode.key
    }
  },

  watch: {
    active (newValue, oldValue) {
      if (newValue !== oldValue) {
        newValue ? this._onActive() : this.onInactive()
      }
    }
  },

  methods: {
    /* === Actions === */

    /**
     * Make this block active
     * @param {Object} params data to update
     */
    blockActive (params = {}) {
      if (this.active) {
        return
      }

      this.redact.blockActive({ index: this.index, direction: null, ...params })
    },

    /**
     * Make next block active
     * @param {Object} params pass additional params to selected block
     */
    blockActiveNext (params = {}) {
      this.redact.blockActive({ index: this.index + 1, direction: DIRECTION_NEXT, ...params })
    },

    /**
     * Make previous block active
     * @param {Object} params pass additional params to selected block
     */
    blockActivePrev (params = {}) {
      this.redact.blockActive({ index: this.index - 1, direction: DIRECTION_FORWARD, ...params })
    },

    /**
     * Insert new block
     * @param {Object} params pass data to new block
     * @param {Boolean} after insert block before, or after this block
     * @param {String} type type of new block
     */
    blockInsert (params = {}, after = true, type = this.$attrs.type) {
      this.redact.blockInsert({ index: this.index + after, type, ...params })
    },

    /**
     * Merge two blocks
     * @param {Number} index merge with next = 1, or previous = -1 block
     * @param {Boolean} mergeWithThis merge this with next/previous or vice versa
     */
    blockMerge (index = 1, mergeWithThis = false) {
      index += this.index

      let blockA = this
      let blockB = this.$parent.$children.find(item => item.index === index)

      if (!blockB) {
        return
      }

      if (mergeWithThis) {
        [blockA, blockB] = [blockB, blockA]
      }

      if (blockB.onMerge(blockA, index *= -1)) {
        blockA.blockRemove()
        blockB.blockActive()
      }
    },

    /**
     * Merge next block with current
     */
    blockMergeNextWithThis () {
      this.blockMerge(1)
    },

    /**
     * Merge current block with next
     */
    blockMergeThisWithNext () {
      this.blockMerge(1, true)
    },

    /**
     * Merge previous block with current
     */
    blockMergePrevWithThis () {
      this.blockMerge(-1)
    },

    /**
     * Merge current block with previous
     */
    blockMergeThisWithPrev () {
      this.blockMerge(-1, true)
    },

    /**
     * Remove this block
     */
    blockRemove () {
      this.redact.blockRemove({ index: this.index })
    },

    /**
     * Udpate this block with given data
     * @param {Object} params data to update
     */
    blockUpdate (params = {}) {
      this.redact.blockUpdate({ index: this.index, ...params })
    },

    /**
     * Duplicate this block with given data
     * @param {Object} params data to update
     */
    blockDuplicate (params = {}) {
      this.redact.blockDuplicate({ index: this.index, ...params })
    },

    /* === Events === */

    /**
     * When block change state from inactive
     * to active (selected, focused)
     */
    _onActive () {
      this.direction !== null && this.redact.blockUpdate({ index: this.index, direction: null })
      this.onActive()
    },

    onActive () {},

    /**
     * When block change state from active to
     * inactive (blur)
     */
    onInactive () {},

    /**
     * When two blocks try to merge
     * @param {BaseBlock} block block to merge with this
     * @param {Number} direction merging block is next = 1, or previous = -1
     * @returns {Boolean} Merge success (Can we delete merged block)
     */
    onMerge (block, direction) {
      return false
    },

    /**
     * When block will be save
     * @returns {Objects} data to serialize
     */
    onSave () {
      return this.blockProps
    },

    /* === Methods === */

    /**
     * Commit current state of app to UndoRedoManager
     * @param {String} title label of action
     */
    commitState (title) {
      this.$undoManager.addStep(title)
    },

    /**
     * Revert block $local state to original $props state
     */
    localClear () {
      Object.assign(this.$local, this.blockProps)
      this.$forceUpdate()
    },

    /**
     * Push & commit block $local state to redact state
     * @param {String} title title of commit
     */
    localUpdate (title) {
      this.blockUpdate(this.$local)
      this.commitState(title)
    },

    /**
     * Prepare data to save
     * @returns {Object} data to serialize
     */
    save () {
      return {
        type: this.$attrs.type,
        ...this.onSave() || []
      }
    }
  },

  mounted () {
    this.active && this.onActive()
  }
}
</script>
