<template>
  <div ref="block" :class="{'redact-block--active' : active}" class="redact-block" @click.stop="blockActive">
    <!-- default selectable input -->
    <input ref="blockCursor" @keydown="onKeyDown" class="redact-block-cursor" v-if="selectable"/>

    <!-- menu-context -->
    <portal :to="$portalName('navbar-context')" v-if="active">
      <slot name="navbar-context" class="redact-block-menu">
        <!-- block custom options (to override) -->
      </slot>

      <button type="button" class="redact-btn" @click="blockDuplicate" :title="$t('block.action.duplicate')">
        <i class="material-icons md-18">control_point_duplicate</i>
      </button>

      <button type="button" class="redact-btn" @click="blockRemove" :title="$t('block.action.remove')">
        <i class="material-icons md-18">delete</i>
      </button>
    </portal>

    <!-- menu-action -->
    <portal :to="$portalName('navbar-action')" v-if="active">
      <slot name="navbar-action"></slot>
    </portal>

    <!-- content -->
    <div class="redact-block__content">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import { Portal } from 'portal-vue'
import MenuDropdown from '../RedactCommon/Dropdown'

export default {
  name: 'BlockBaseFrame',

  props: {
    selectable: {
      type: Boolean,
      default: true
    }
  },

  inject: ['redactBlock', '$t', '$portalName'],

  components: {
    MenuDropdown,
    Portal
  },

  computed: {
    active () {
      return this.redactBlock.active
    }
  },

  methods: {
    /* === Actions === */

    blockActive () {
      if (!this.active) {
        this.redactBlock.blockActive()
      }
    },

    blockDuplicate () {
      this.redactBlock.blockDuplicate()
    },

    blockRemove () {
      this.redactBlock.blockRemove()
      this.redactBlock.commitState(this.$t('block.action.remove'))
    },

    /* === Events === */

    onKeyDown (e) {
      // left/up arrow
      if (e.keyCode === 38 || e.keyCode === 37) {
        e.preventDefault()
        this.redactBlock.blockActivePrev()
      }

      // bottom/right arrow
      if (e.keyCode === 40 || e.keyCode === 39) {
        e.preventDefault()
        this.redactBlock.blockActiveNext()
      }

      // delete key pressed
      if (e.keyCode === 46) {
        e.preventDefault()
        this.redactBlock.blockRemove()
      }
    }
  },

  mounted () {
    if (this.active && this.$refs.blockCursor) {
      this.$refs.blockCursor.scrollIntoView()
      this.$refs.blockCursor.focus()
    }
  },

  updated () {
    if (this.active && this.$refs.blockCursor) {
      this.$refs.blockCursor.focus()
    }
  }
}
</script>

<style scoped>
  .redact-block {
    position: relative;
    border: 1px solid transparent;
    cursor: move;
  }
  .redact-block--active {
    border: 1px solid lightseagreen;
  }
  .redact-block__content {
    cursor: initial;
  }
  .redact-block:not(.redact-block--active):hover {
    border: 1px solid #CCC;
  }
  .redact-block-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    box-sizing: border-box;
    position: absolute;
    transform: translateY(-100%);
    width: 100%;
    pointer-events: none;
    z-index: 1;
  }
  .redact-block-menu {
    display: flex;
    pointer-events: all;
  }
  .redact-block-menu + .redact-block-menu {
    margin-left: 40px;
  }
  .redact-block-menu--left {
    float: left;
  }
  .redact-block-menu--right {
    float: right;
  }
  .redact-block *:focus {
    outline: none !important;
  }
  .redact-block-cursor {
    width:0;
    height: 0;
    opacity: 0;
    display: flex;
    position: absolute;
  }
  .redact-block--small {
    width: calc(33.33% - 2px);
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
  }
  .draggable {
    -webkit-appearance: button;
    appearance: button;
    cursor: move;
  }
  .btn-move {
    cursor: move;
  }
</style>
