<template>
  <div class="redact-dropdown" ref="dropdown" @click="!disableClick && toggleView()">
    <slot name="button">
      <button type="button" class="redact-btn" :title="titleHover">
          {{ title }}
          <i class="material-icons md-18 redact-dropdown__icon">
            arrow_drop_down
          </i>
      </button>
    </slot>
    <transition name="transition-dropdown">
      <div class="redact-dropdown-menu" v-if="open" :class="variation">
        <button type="button" v-for="(item, index) in items" :key="index" class="redact-dropdown__item redact-btn" @click.stop="selected(item, index)">
          {{ item }}
        </button>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Dropdown',
  props: {
    /*
     * Default tile of dropdown
     * (display when user not override slot=button)
     */
    title: {
      type: String
    },

    /**
     * Default title of mouse hover effect
     */
    titleHover: {
      type: String
    },

    /*
     * Array of options display in dropdown
     */
    items: {
      type: Array,
      default: () => []
    },

    active: {
      type: Boolean,
      default: false
    },

    /*
     * Set State open/close dropdown
     * from outside
     */
    isOpen: {
      type: Boolean,
      default: false
    },

    /*
     * Disable default behaviour
     * that button open/close dropdown
     */
    disableClick: {
      type: Boolean,
      default: false
    },

    /**
     * Variation class for
     * dropdown box
     */
    variation: {
      type: String,
      default: ''
    }
  },
  data: state => ({
    open: state.isOpen
  }),
  mounted () {
    const t = this.$refs.dropdown

    window.addEventListener('click', e => {
      if (this.open && !t.contains(e.target)) {
        this.open = false
        this.$emit('onClose')
      }
    })
  },
  methods: {
    toggleView (event) {
      this.open = !this.open
      this.$emit('click', event)
    },
    selected (item, index) {
      this.open = false
      this.$emit('onChange', item, index)
    }
  },
  watch: {
    isOpen: function (isOpen) {
      this.open = isOpen
    }
  }
}
</script>

<style scoped>
  .redact-dropdown .redact-btn {
    display: flex !important;
    align-items: center;
  }
  .redact-dropdown-menu {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    padding: 4px;
    border: 1px solid #ccc;
  }
  .redact-dropdown__item {
    appearance: none;
    background: none;
    border: none;
    padding: 6px !important;
    text-align: left;
  }
  .redact-dropdown__icon {
    display: inline-block !important;
  }
  .transition-dropdown-enter-active,
  .transition-dropdown-leave-active {
    transition: all .2s ease;
  }
  .transition-dropdown-enter, .transition-dropdown-leave-to {
    opacity: 0;
    transform: translateY(calc(100% + 30px));
  }
  .transition-dropdown-enter-to, .transition-dropdown-leave {
    opacity: 1;
    transform: translateY(100%);
  }
</style>
