<template>
  <div class="redact-navbar" @click.stop="">
    <div class="redact-navbar__container">
      <div class="redact-navbar__item">
        <portal-target :name="$portalName('navbar-prepend')" class="redact-navbar__item"/>
      </div>

      <redact-undo-manager/>

      <!-- add group -->
      <dropdown :items="blockTypesI18n" @onChange="(item, index) => addBlock(item, index)">
        <template #button>
          <button type="button" class="redact-btn" :title="$t('block.action.insert', { type: ''})">
            <i class="material-icons md-18 redact-dropdown__icon">
              add
            </i>
          </button>
        </template>
      </dropdown>

      <div class="redact-navbar__separator"></div>

      <div class="redact-navbar__item">
        <portal-target :name="$portalName('navbar-context')" class="redact-navbar__item"/>
      </div>

      <div class="redact-navbar__item">
        <portal-target :name="$portalName('navbar-action')" class="redact-navbar__item"/>
      </div>
    </div>
    <div class="redact-navbar__container">
      <div class="redact-navbar__item">
        <portal-target :name="$portalName('navbar-append')" class="redact-navbar__item"/>
      </div>
    </div>
  </div>
</template>

<script>
import RedactUndoManager from './RedactUndoManager'
import Dropdown from '../RedactCommon/Dropdown'
import { PortalTarget } from 'portal-vue'

export default {
  name: 'RedactNavbar',

  inject: [
    'redact',
    '$t',
    '$portalName',
    '$undoManager'
  ],

  components: {
    Dropdown,
    PortalTarget,
    RedactUndoManager
  },

  computed: {
    blockTypesI18n () {
      return Object
        .keys(this.redact.blockTypes)
        .map(blockType => this.$t(`block.type.${blockType}`))
    }
  },

  methods: {
    addBlock (name, index) {
      const type = Object.keys(this.redact.blockTypes)[index]
      this.redact.blockInsert({type})

      this.$undoManager.addStep(this.$t('block.action.insert', {type: name}))
    }
  }
}
</script>

<style scope>
  .redact-navbar {
    background: whitesmoke;
    display: flex;
    padding: 4px 10px;
    justify-content: space-between;

    width: 100%;
    position: sticky;
    box-sizing: border-box;
    z-index: 1000;
    top: 0;
  }
  .redact-navbar__container {
    display: flex;
  }
  .redact-navbar__content {
    flex: 1;
  }
  .redact-navbar__separator {
    width: 1px;
    background: #aaa;
    margin: 4px 10px;
  }
  .redact-navbar__item {
    display: flex;
  }
</style>
