<template>
  <div class="redact">
    <redact-navbar/>

    <portal :to="portalName('navbar-append')">
      <slot name="navbar-append"/>
    </portal>

    <portal :to="portalName('navbar-prepend')">
      <slot name="navbar-prepend"/>
    </portal>

    <div class="redact-content">
      <draggable
        v-model="blocks"
        filter=".nodraggable"
        :preventOnFilter="false"
        @change="undoManager.addStep($t('block.action.move'))">
        <component v-for="(block, index) in blocks" :key="index" :is="blockTypes[block.type]" v-bind="block" ref="blocks"/>
      </draggable>
    </div>

    <slot name="footer"/>

    <input type="hidden" ref="save" :name="name"/>
  </div>
</template>

<script>
/* Dependencies */
import 'material-icons/iconfont/material-icons.css'
import clamp from 'lodash.clamp'
import merge from 'lodash.merge'
import Draggable from 'vuedraggable'
import { Portal } from 'portal-vue'

/* Redact components */
import RedactNavbar from './RedactNavbar'
import UndoManager from '../../mixins/UndoManager'

/* i18n */
import I18N from '../../mixins/i18n'
import en from '../../lang/en.json'
import de from '../../lang/de.json'

/* Global Redact config */
export const config = {
  blockTypes: {}
}

export default {
  name: 'Redact',
  props: {
    name: String,
    enabledBlocks: Array,
    data: [String, Array],
    locale: Object
  },

  provide () {
    return {
      redact: this,
      /* helpers: */
      $t: this.$t,
      $portalName: this.portalName,
      $undoManager: this.undoManager
    }
  },

  components: {
    Draggable,
    Portal,
    RedactNavbar
  },

  data: data => ({
    uid: `Redact_${Math.random().toString(36).substr(2, 9)}`,
    blocks: data.getContent(),
    undoManager: UndoManager({
      limit: 20,
      input: () => data.blocks
    }),
    i18n: I18N(
      merge({ langs: {en, de} }, data.locale)
    )
  }),

  computed: {
    blockTypes () {
      if (this.enabledBlocks === '' || !Array.isArray(this.enabledBlocks)) {
        return config.blockTypes
      }

      return Object.keys(config.blockTypes)
        .filter(blockName => this.enabledBlocks.includes(blockName))
        .reduce((obj, key) => (
          {...obj, [key]: config.blockTypes[key]}
        ), {})
    },
    blockActiveIndex () {
      return this.blocks.findIndex(block => block.active)
    }
  },

  methods: {
    /* === Actions === */

    blockActive (params = {}) {
      let {index, ...data} = params

      index = clamp(index, 0, this.blocks.length - 1)
      this.blocks = this.blocks.map((item, itemIndex) => ({...item, ...data, active: itemIndex === index}))
    },

    blockInsert (params = {}) {
      const currentIndex = this.blockActiveIndex + 1 || this.blocks.length
      const {index = currentIndex, type, ...data} = params

      this.blocks.splice(index, 0, { type, ...data })
      this.blockActive({ index })
    },

    blockRemove (params = {}) {
      const {index} = params

      this.blocks = this.blocks.filter((item, itemIndex) => itemIndex !== index)
      this.blockActive({ index: index >= 1 ? index - 1 : index })
    },

    blockUpdate (params = {}) {
      const {index, ...data} = params

      this.blocks = this.blocks.map((item, itemIndex) => itemIndex === index ? {...item, ...data} : item)
    },

    blockDuplicate (params = {}) {
      const { index } = params

      if (index >= 0 && index < this.blocks.length) {
        const blockToDuplicate = this.blocks[index]
        const duplicatedBlock = { ...blockToDuplicate }

        this.blocks.splice(index + 1, 0, duplicatedBlock)
        this.blockActive({ index: index + 1 })
        this.undoManager.addStep(this.$t('block.action.duplicate'))
      }
    },

    /* === Events === */

    onUndo (data) {
      this.blocks = data
    },

    /* === Methods === */

    portalName (name) {
      return `${this.uid}.${name}`
    },

    getContent () {
      let input = this.data || []

      if (!Array.isArray(input)) {
        try {
          input = JSON.parse(input)
        } catch (e) {
          input = []
        }
      }

      if (this.enabledBlocks === '' || !Array.isArray(this.enabledBlocks)) {
        return input
      }

      return input.filter(item => this.enabledBlocks.includes(item.type))
    },

    save () {
      const data2save = (this.$refs.blocks || [])
        .sort((blockA, blockB) => blockA.index - blockB.index)
        .map(block => block.save())

      this.$refs.save.value = JSON.stringify(data2save)
    },

    /* === Helpers === */
    $t (name, params) {
      return this.i18n.translate(name, params)
    }
  },

  created () {
    this.undoManager.addStep('base')
    this.undoManager.on('change', data => this.onUndo(data))

    window.addEventListener('click', _ => {
      this.blockActive()
    })
  },

  mounted () {
    this.save()
  },

  updated () {
    this.save()
  },

  /**
   * Register custom blocks
   * @param {Object} blocks object contains custom blocks
   */
  registerBlocks (blocks = {}) {
    config.blockTypes = { ...config.blockTypes, ...blocks }
  }
}
</script>

<style scope>
  .redact .material-icons { display: flex }
  .redact .material-icons.md-18 { font-size: 18px; }
  .redact .material-icons.md-24 { font-size: 24px; }
  .redact .material-icons.md-36 { font-size: 36px; }
  .redact .material-icons.md-48 { font-size: 48px; }

  .redact .redact-btn {
    color: #333;
    box-sizing: border-box;
    display: inline-block;
    appearance: none;
    border: none;
    background: initial;
    padding: 10px;
    min-width: 30px;
    user-select: none;
  }

  .redact .redact-btn:hover {
    background: #e3e3e3;
  }

  .redact .redact-btn:focus {
    outline: none;
  }

  .redact .redact-btn--disabled {
    opacity: .4;
  }

  .redact .redact-content {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 1280px;
  }
</style>
