<template>
  <div class="redact-btn-group">
    <!-- undo -->
    <dropdown
      :items="$undoManager.undoList()"
      :isOpen="showUndoList"
      :disableClick="true"
      @onChange="undoDropdownSelect"
      @onClose="hide()"
      >
      <template slot="button">
        <button
          type="button"
          class="redact-btn"
          v-longpress="300"
          @longpress="showUndoList = true"
          @longclick="$undoManager.undo()"
          :class="{'redact-btn--disabled': !$undoManager.canUndo()}"
          :title="$t('toolbar.undo', {action: $undoManager.undoLastAction()})"
          :disabled="!$undoManager.canUndo()"
          data-toggle="tooltip"
          data-placement="bottom"
          >
          <i class="material-icons md-18">
            undo
          </i>
        </button>
      </template>
    </dropdown>

    <!-- redo -->
    <dropdown
      :items="$undoManager.redoList()"
      :isOpen="showRedoList"
      :disableClick="true"
      @onChange="redoDropdownSelect"
      @onClose="hide()"
      >
      <template slot="button">
        <button
          type="button"
          class="redact-btn"
          v-longpress="300"
          @longpress="showRedoList = true"
          @longclick="$undoManager.redo()"
          :class="{'redact-btn--disabled': !$undoManager.canRedo()}"
          :title="$t('toolbar.redo', {action: $undoManager.redoLastAction()})"
          :disabled="!$undoManager.canRedo()"
          >
          <i class="material-icons md-18">
            redo
          </i>
        </button>
      </template>
    </dropdown>
  </div>
</template>

<script>
import Longpress from '../../directives/Longpress'
import Dropdown from '../RedactCommon/Dropdown'

export default {
  name: 'RedactUndoManager',
  inject: ['$t', '$undoManager'],

  components: {
    Dropdown
  },

  data: () => ({
    showUndoList: false,
    showRedoList: false
  }),

  methods: {
    undoDropdownSelect (item, index) {
      this.showUndoList = false
      this.$undoManager.undo(index + 1)
    },

    redoDropdownSelect (item, index) {
      this.showRedoList = false
      this.$undoManager.redo(index + 1)
    },

    hide () {
      this.showUndoList = false
      this.showRedoList = false
    },

    onKeyUp (e) {
      // Ctrl + Z
      if (e.ctrlKey && e.keyCode === 90) {
        e.preventDefault()
        e.stopPropagation()
        this.$undoManager.canUndo() && this.$undoManager.undo()
      }

      // Ctrl + Y
      if (e.ctrlKey && e.keyCode === 89) {
        e.preventDefault()
        e.stopPropagation()
        this.$undoManager.canRedo() && this.$undoManager.redo()
      }
    }
  },

  directives: {
    Longpress
  },

  created () {
    window.addEventListener('keyup', e => this.onKeyUp(e))
  }
}
</script>

<style scope>
  .redact-btn-group {
    display: flex;
  }
</style>
