<template>
  <div id="app" class="redact-app">
    <redact name="redact-example"></redact>
  </div>
</template>

<script>
import Redact from './components/Redact/Redact'

/* Register custom blocks */
// Redact.registerBlocks({})

export default {
  name: 'App',

  components: {
    Redact
  }
}
</script>

<style scoped>
  .redact-app {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
</style>
